section {
    position: relative;
    padding: 0.5em;
 
}

section h2 {
    padding: 1em;
    background-color: #f4f4f4;
    text-align: start;
    cursor: url("../../img/hand-pointer-solid.svg"), auto;
}

section h2:hover {
    background-color:#ececec; 
}

section p {
    background-color: #f4f4f4;
    padding: 1em;
    text-align: start;
    
}