.section {
    padding: 0.5em; 
     
}

/*.question {
    background-color: #f4f4f4;
    text-align: start;
    cursor: url("../../img/hand-pointer-solid.svg"), auto;
} */

.section p {
    background-color: #f4f4f4;
    padding: 1.5em;
    text-align: start;   
}

.arrow {
    float: right;
    transition: 'transform 150ms ease';
}

.arrow.rotate {
    transform: rotate(180deg);
}